---
import "../../style/tailwind.css"
import BaseLayout from "./baselayout.astro";
const { title, desc, img } = Astro.props;
---

<BaseLayout title={title} description={desc} image={img} post={false}>
	<section class="flex flex-col mb-6 md:mb-10">
		<div class="container">
			<article class="prose dark:prose-invert !max-w-full mb-10">
				<slot />
			</article>
		</div>
	</section>
</BaseLayout>