@font-face {
  font-family: "Mabry Pro";
  src: local("Mabry Pro Bold"), local("MabryPro-Bold"), url("MabryPro-Bold.woff2") format("woff2"),
    url("MabryPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
