---
import Page from "@layouts/page";
---

<Page title="About">
	<p>The Morris Motel has been established as the premier media acquisition guide pretending to be a luxury establishment since its creation in 2022. We are your one stop shop for all things when it comes to resting up and discovering new exciting ways to sail the high seas. From quick guides on music acquisition, to full servarr setups, we have you covered.</p>
</Page>
