---
import { nav } from "@data/nav"
---
  <footer class="footer footer-center p-4">
  <div>
    <p class="text-xs text-base-content/70">
      &copy; {(new Date()).getFullYear()} – Morris Motel, Powered by
      <a class="link" href="https://ipfs.io/" target="_blank">
        IPFS
      </a>
    </p>
  </div>
</footer>